body {
    background-color:lavender;
    padding: 0;
    margin: 0;
}

.profile_hover:hover{
    cursor: pointer;
    opacity: .5;
    /* transform: scale(1.1); */
}

home-image{
    background-color: "inherit";
    transform: scale(1);
    /* box-shadow: gray 2px; */
}

.home-image:hover{
    background-color: transparent;
    transform: scale(1.006);
    box-shadow: gray 2px;
    transition: all .5s ease-out;
    transition-timing-function: linear;
}